In [5]:
#For this project, I will be working with the Fortune magazine's Global 500 list 2017,
#which ranks the top 500 global companies by revenue. For this mini data project, I thought
#it would be fun to find any interesting trends or insights within the data.

import pandas as pd
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

In [11]:
#Let's first do some preliminary look into the data by seeing what type of data it is and
#the size of the dataset.

f500_type=type(f500)
f500_shape=f500.shape

print(f500_type)
print(f500_shape)
print(f500.dtypes)

<class 'pandas.core.frame.DataFrame'>
(500, 61)
highlights/0/title           object
highlights/0/value            int64
highlights/1/description     object
highlights/1/title           object
highlights/1/value          float64
highlights/2/description     object
highlights/2/title           object
highlights/2/value          float64
highlights/3/description     object
highlights/3/title           object
highlights/3/value            int64
highlights/4/description     object
highlights/4/title           object
highlights/4/value          float64
highlights/5/description     object
highlights/5/value            int64
highlights/6/value          float64
lists/0/name                 object
lists/0/rank                float64
lists/1/name                 object
lists/1/rank                float64
lists/2/name                 object
lists/2/rank                float64
meta/ceo                     object
meta/industry                object
meta/previousRank             int64
meta/rank                     int64
tables/0/data/0/name         object
tables/0/data/0/value        object
tables/0/data/1/name         object
                             ...
tables/0/data/2/name         object
tables/0/data/2/value        object
tables/0/data/3/name         object
tables/0/data/3/value        object
tables/0/data/4/name         object
tables/0/data/4/value        object
tables/0/data/5/name         object
tables/0/data/5/value         int64
tables/0/data/6/name         object
tables/0/data/6/value         int64
tables/0/name                object
tables/1/data/0/name         object
tables/1/data/0/value         int64
tables/1/data/1/name         object
tables/1/data/1/value       float64
tables/1/data/2/name         object
tables/1/data/2/value         int64
tables/1/data/3/name         object
tables/1/data/3/value         int64
tables/1/name                object
tables/2/data/0/name         object
tables/2/data/0/value       float64
tables/2/data/1/name         object
tables/2/data/1/value       float64
tables/2/data/2/name         object
tables/2/data/2/value       float64
tables/2/name                object
title                        object
lists/3/name                 object
lists/3/rank                float64
Length: 61, dtype: object

In [12]:
f500_head=f500.head(6)
f500_tail=f500.tail(8)
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Companies are ranked by total revenues for their respective fiscal years. to Companies are ranked by total revenues for their respective fiscal years.
Data columns (total 61 columns):
highlights/0/title          500 non-null object
highlights/0/value          500 non-null int64
highlights/1/description    500 non-null object
highlights/1/title          500 non-null object
highlights/1/value          498 non-null float64
highlights/2/description    500 non-null object
highlights/2/title          500 non-null object
highlights/2/value          499 non-null float64
highlights/3/description    500 non-null object
highlights/3/title          500 non-null object
highlights/3/value          500 non-null int64
highlights/4/description    500 non-null object
highlights/4/title          500 non-null object
highlights/4/value          436 non-null float64
highlights/5/description    500 non-null object
highlights/5/value          500 non-null int64
highlights/6/value          467 non-null float64
lists/0/name                196 non-null object
lists/0/rank                196 non-null float64
lists/1/name                99 non-null object
lists/1/rank                99 non-null float64
lists/2/name                27 non-null object
lists/2/rank                27 non-null float64
meta/ceo                    500 non-null object
meta/industry               500 non-null object
meta/previousRank           500 non-null int64
meta/rank                   500 non-null int64
tables/0/data/0/name        500 non-null object
tables/0/data/0/value       500 non-null object
tables/0/data/1/name        500 non-null object
tables/0/data/1/value       500 non-null object
tables/0/data/2/name        500 non-null object
tables/0/data/2/value       500 non-null object
tables/0/data/3/name        500 non-null object
tables/0/data/3/value       500 non-null object
tables/0/data/4/name        500 non-null object
tables/0/data/4/value       500 non-null object
tables/0/data/5/name        500 non-null object
tables/0/data/5/value       500 non-null int64
tables/0/data/6/name        500 non-null object
tables/0/data/6/value       500 non-null int64
tables/0/name               500 non-null object
tables/1/data/0/name        500 non-null object
tables/1/data/0/value       500 non-null int64
tables/1/data/1/name        500 non-null object
tables/1/data/1/value       499 non-null float64
tables/1/data/2/name        500 non-null object
tables/1/data/2/value       500 non-null int64
tables/1/data/3/name        500 non-null object
tables/1/data/3/value       500 non-null int64
tables/1/name               500 non-null object
tables/2/data/0/name        500 non-null object
tables/2/data/0/value       493 non-null float64
tables/2/data/1/name        500 non-null object
tables/2/data/1/value       487 non-null float64
tables/2/data/2/name        500 non-null object
tables/2/data/2/value       488 non-null float64
tables/2/name               500 non-null object
title                       500 non-null object
lists/3/name                1 non-null object
lists/3/rank                1 non-null float64
dtypes: float64(12), int64(10), object(39)
memory usage: 242.2+ KB